<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a troca da senha, você pode alterar através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p>Se você não solicitou a troca, ignore este email por favor.</p>
<p>Sua senha não será alterada a menos que você acesso o link acima.</p>
